.project__card--container {
    display: flex;
  
flex-direction: column;
    background-image: url("../../images/background.jpg") ;
    border-radius: 30px;
    width: 20%;
    margin-top: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.361);
    @media screen and (max-width:1400px){
         
        width: 100%;
    }
    
    
    
    


    .project__card--img {
        width: 100%;
        max-height: 20rem;
        border-radius: 20px;
        margin: 0 auto;
        
    }
    @media screen and (max-width:800px){
         
        margin: none;
    }

    .project__card--content {
max-width: 35rem;
padding: 1rem;
        .project__h3 {
            font-family: "Caveat", sans-serif;
           margin: 0.5rem 0 0.5rem 0;
            font-size: 2rem;
            color: rgb(255, 32, 78);
            .project__link{
                margin-left: 1rem;
                cursor: pointer;
            }
        }

        .project__p {
            color: white;
            line-height: 2.1rem;
        }

        .project__card--tech {
            margin: 1rem 0;
            width: 4.5rem;
            height: 3rem;
            z-index: 100;
        }
    }
}